<!DOCTYPE HTML>
<html lang="<%= config.language %>">
<%- partial('_partial/head') %>

<body>
  <%- partial('_partial/header') %>
  <main class="page-body"><%- body %></main>
  <%- partial('_partial/footer') %>
</body>

</html>